.channelCard-container{
  padding: 10px 10px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: 600;
  transition: background-color 1s;

  &:hover {
    background-color: #252329;
    transition: background-color 1s;
    cursor: pointer;
    .channel-logo {
      background-color: #171617;
      transition: background-color 1s;
    }
  }

  .channel-logo {
    width: 30px;
    text-align: center;
    padding: 10px;
    background-color: #252329;
    border-radius: 10px;
  }

  .channel-title {
    margin-left: 20px;
  }
}
