.userEdit-container {
  width: 95%;
  margin: 10px auto 0 auto;
  .back-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75px;
    margin-top: 10%;
    padding: 5px 10px;

    a, svg {
      text-decoration: none;
      margin: 0;
      color: #2F80ED;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .page-title {
    width: 70%;
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .infos-list {

    .info-image {
      position: relative;
      display: flex;
      align-items: center;

      p {
        padding: 5px 10px;
        border: solid 2px black;
        border-radius: 5px;
        opacity: 0.5;
      }

      img {
        width: 80px;
        height: 80px;
        border-radius: 5px;
      }

      input{
        display: none;
      }

      .icon-camera {
        position: absolute;
        top: 24%;
        left: 25px;
        opacity: 0.8;
        font-size: 32px;
        color: gainsboro;
      }

      p {
        margin-left: 20px;
        text-transform: uppercase;
      }
    }

    .info {
      margin: 15px 0;

      p {
        margin: 0 5px;
      }
    }

  }

  .validation {
    a{
      text-decoration: none;
      color: white;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

@media (min-width: 800px) {

  .back-button {
    margin-left: 22.5%;
    margin-top: 50px !important;
    margin-bottom: 50px;
  }

  .content-container {
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 30px;
    border: 3px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 5px;

    .page-title {
      font-size: 12px;
      margin-bottom: 30px;
    }

    .info-image {
      p {
        cursor: pointer;
      }
    }

    .infos-list {
      input {
        width: 40%;
      }
    }
  }
  .validation {
    width: 10%;

    .validate-button {
      font-size: 12px;
    }
  }
}
